@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "BebasNeue Pro Bold";
    src: url("../fonts/BebasNeue-Pro-Bold.otf");
}
@font-face {
    font-family: "BebasNeue Pro Book";
    src: url("../fonts/BebasNeue-Pro-Book.otf");
}
@font-face {
    font-family: "Inter Black";
    src: url("../fonts/Inter-Black.otf");
}
@font-face {
    font-family: "Inter Light";
    src: url("../fonts/Inter-Light.otf");
}